.home_container {
    grid-template-columns: repeat(2, 1fr);
}
.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_image img {
    width: 100%;
    height: 100%;
}
.home_text b {
    font-size: var(--h1-font-size);
}
.home_text h1 {
    font-size: var(--big-font-size);
    color: var(--title-color);
}